@import "../../components/timer/timer";

@keyframes color_move  {
  from {
    color:red;
  }
  25% {
    color: #03bc3c;
  }
  50% {
    color: yellow;
  }
  to {
    color: red;
  }
}

.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  &__video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  &__title {
    font-family: Helvetica, sans-serif;
    font-size: 48px;
    color: white;
    text-align: center;

  }

  &__box {
    display: flex;
    justify-content: space-around;
  }

  &__img {
    transform: scale(0.7);

  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: circle;
    color: white;

  }


  &__text {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: white;
  }

  &__button {
    margin: 0 auto;
    font-size: 24px;
  }
}


.composition {
  background: linear-gradient(to bottom, #04003f 0%, #282828 100%);
  padding: 40px 0 40px 0;

  &__box {
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  &__mainImg {
    transform: scale(0.6);
  }

  &__button {
    margin: 0 auto;
  }

  &__elem {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #dcdefb;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
  }

  &__cont {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  &__img {
    width: 300px;
    height: auto;
    position: center;

  }

  &__name {
    margin-top: 10px;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
  }

  &__button {
    margin: 0 auto;
    font-size: 24px;
  }
}

.reviews {
  background: linear-gradient(to bottom, #282828 0%, #E6E3C4 100%);

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
  }
  &__photoBox {

    overflow: hidden;
  }
  &__photo {
    object-fit: cover;
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 60px;

  }

  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {

    font-weight: bold;
    font-style: italic;
    font-size: 36px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__text {
    font-style: italic;
    font-size: 24px;
  }
}

.presentation {
  background: linear-gradient(to bottom, #E6E3C4 0%, #282828 100%);
  height: 100vh;

  &__box {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__elem {
    display: flex;
    align-items: center;
  }

  &__description {
    font-size: 24px;
    font-style: italic;
  }

  &__button {
    margin: 50px auto 0 auto;
    font-size: 24px;
  }

  &__list {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    list-style-type: decimal;

    font-family: Helvetica, sans-serif;
    font-size: 36px;
    color: white;


  }

  &__properties {
    margin-right: 80px;
  }

  &__text {
    font-size: 36px;
    font-style: italic;
    color: white;
  }
}

.form {
  background: linear-gradient(to bottom, #282828 0%, #E6E3C4 100%);

  &__box {
    padding-top: 50px;
    padding-bottom: 50px;


  }

  &__title {
    font-size: 48px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
  }

  &__sale {
    font-size: 36px;
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 35px;
  }
  &__block {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 25px;
  }
  &__old {
  font-size: 18px;
    margin-right: 15px;
    color: black;
    text-decoration: line-through;
  }
  &__new {
    font-size: 36px;
    animation: 3s ease-in-out infinite color_move;
  }
  &__container {
    display: flex;
    justify-content: space-around;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: auto;
    background-color: white;
    border: black solid 4px;
    border-radius: 40px;
    padding: 40px;

  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  &__button {
    border: 3px solid black;
    color: black;
    &:hover, &:focus {
      background-color: black;
      color: #FFFFFF;

    }
  }
  &__text {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
  }
  &__input {
    border: 4px solid #070707;
    height: 50px;
    font-family: Helvetica,sans-serif;
    font-size: 30px;
    position: relative;
    &::placeholder{
      font-size: 0;
    }
    &:focus {
      &::placeholder {
        display: inline-block;

        position: absolute;
        top: 0;
        right: 0;

        font-size: 20px;
        text-align: end;
        vertical-align: baseline;
      }
    }

  }
}

.swiper-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper-button-prev, .swiper-button-next {
  color: black;
}


