.countbox {
    padding: 0;
    margin: 0 auto;
    line-height: 1.2;
    color: #fff;
    font-family: MyriadProRegular, Helvetica, sans-serif;
    font-size: 115px;
    width: 542px;
    height: 170px;
}

.countbox .countbox-num {
    float: left;
    width: 174px;
    height: 170px;
}

.countbox .countbox-space {
    float: left;
    width: 10px;
    height: 170px;
}

.countbox-hours1, .countbox-mins1, .countbox-secs1 {
    float: left;
    text-align: center;
    background-image: url('/static/images/flip.png');
    background-repeat: no-repeat;
    margin: 0 -3px 0 0;
    height: 145px;
    width: 90px;
    z-index: 1;
}

.countbox-hours2, .countbox-mins2, .countbox-secs2 {
    float: left;
    text-align: center;
    background-image: url('/static/images/flip.png');
    background-repeat: no-repeat;
    margin: 0 0 0 -3px;
    height: 145px;
    width: 90px;
    z-index: 1;
}

.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 150px;
    height: 14px;
    width: 174px;
}



.countbox-hours1 span, .countbox-hours2 span, .countbox-mins1 span, .countbox-mins2 span, .countbox-secs1 span, .countbox-secs2 span {
    background: url('/static/images/flip_gradient.png');
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    height: 145px;
    width: 90px;
}

